[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
kivymd = {ref = "master", git = "git+https://github.com/kivymd/KivyMD.git"}
pyserial = "*"
watchdog = "*"
multitasking = "*"

[dev-packages]
pip = "*"
pipenv = "*"

[requires]
python_version = "3.10"
