@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@layout MainLayout
@page "/Devices"

<PageTitle>Robonomik Communicator - Devices</PageTitle>

<h1>Available Devices</h1>

<button @onclick="OnRefreshHandler">Refresh</button>
<button @onclick="OnAddHandler">Add Device</button>

@if (IsSupported)
{
    @foreach (USBDevice device in AvailableSerials)
    {
        <DeviceCard Device=@device />
    }
}
else
{
    <p>This browser doesn't support WebSerial API</p>
}