@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@layout MainLayout
@page "/Devices"

<PageTitle>Robonomik Communicator - Devices</PageTitle>

<p>Browser version of Robonomik Communicator application does not support serial communication, please install the desktop version of the application.</p>