@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@layout MainLayout
@page "/Devices"

<PageTitle>Robonomik Communicator - Devices</PageTitle>

<h1>Available Devices</h1>

<button @onclick="OnRefreshHandler">Refresh</button>

@foreach (USBDevice port in Ports)
{
    <DeviceCard Device=@port />
}