@page "/"
@layout Layouts.LandingLayout

<PageTitle>Robonomik Communicator - Welcome</PageTitle>

<h1>Robonomik Communicator</h1>
<h2>Platform for fast building of web dashboards and communication chain between the application and devices such as
    Arduino, ESP32, STM32, Raspberry Pi.</h2>

<div>
    <NavLink href="login">Login</NavLink>
    <NavLink href="register">Create Account</NavLink>
    <NavLink href="devices">View Anonymously</NavLink>
</div>