@inherits LayoutComponentBase

<header>
    <h1>Robonomik Communicator</h1>
</header>

<nav>
    <NavLink href="devices">Devices</NavLink>
    <NavLink href="terminal">Terminal</NavLink>
    <NavLink href="commands">Commands</NavLink>
    <NavLink href="dashboard">Dashboard</NavLink>
    <NavLink href="settings">Settings</NavLink>
    <NavLink href="/">Log Out</NavLink>
    @* <button type="button">Log Out</button> *@
</nav>

<main>
    @Body
</main>